<div class="carousel carousel-slider center">
<div id="overlay"></div>
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect orange lighten-3 white-text darken-text-2" id="signup"  routerLink="signup">Sign Up</a>
    <a class="btn waves-effect brown darken-3 white-text white-text" routerLink="signin">Sign In</a>
  </div>
  <div class="carousel-item images image-1 white-text">

  </div>
  <div>

  </div>
  <div class="carousel-item images image-2  white-text">

  </div>
  <div class="carousel-item images image-3 white-text">
  </div>
</div>



