$mainColor: #4e342e
li
  & > a.active:not(.home)
    background: #795548
.fixed-action-btn
  a
    background-color: #f6ab75 !important
label
  .active
    color: $mainColor !important
input, textarea
  &:focus
    border-bottom: 1px solid $mainColor !important
    box-shadow: 0 1px 0 0 $mainColor !important

input[type='text'],textarea
  &:focus+label
    color: $mainColor !important


