<nav>
  <div class="nav-wrapper brown darken-3">
    <a class="brand-logo center">Socializer</a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="./" routerLinkActive="active" class="home">Home</a></li>
      <li><a routerLink="./profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="./friends" routerLinkActive="active">Friends</a></li>
      <li><a on-click = "logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="./" routerLinkActive="active" class="home">Home</a></li>
  <li><a routerLink="./profile" routerLinkActive="active">Profile</a></li>
  <li><a routerLink="./friends" routerLinkActive="active">Friends</a></li>
  <li><a on-click = "logout()">Logout</a></li>
</ul>
<section class="center-align" *ngIf="false">
  <div>
  <img src="../../assets/icon.ico">
    <h5> Welcome to Socializer</h5>
    <p> You haven't any Friends or Posts</p>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" title="Write Post">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>

</section>
<router-outlet class="center-align"></router-outlet>


