<section class="center-align" *ngIf="posts.length <= 0 && friendsPosts.length <= 0">
<div>
  <img src="../../../assets/icon.ico">
  <h5> Welcome to Socializer</h5>
  <p> You haven't any Friends or Posts</p>
</div>
</section>

<div class="row center-align" *ngIf="posts.length > 0">

  <div class="col s12" *ngFor="let post of posts">
    <div class="card brown darken-3">
      <div class="card-content white-text">
        <h5>{{uname}}</h5><br>
        <span class="card-title">{{post.title}}</span>
        <p>{{post.body}}</p>
      </div>
    </div>
  </div>

</div>
<div class="row center-align" *ngIf="friendsPosts.length > 0">
  <div class="col s12" *ngFor="let friendPost of friendsPosts; let i = index;">
    <div *ngFor="let post of friendPost">
    <div class="card brown darken-3">
      <div class="card-content white-text">
        <h5>{{friendsNames[i]}}</h5><br>
        <span class="card-title">{{post?.title}}</span>
        <p>{{post?.body}}</p>
      </div>
    </div>
  </div>
  </div>
</div>



